.product-grid .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}



@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}