.navbar {
    background-color: rgba(0, 0, 0, 0.71);

}

.jumbotron {
    margin-bottom: 0;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-color: rgba(0, 0, 0, 0.71);
    background-image: url('../asset/IMG_20190721_171536.jpg'); */
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.71)), url('https://pro2-bar-s3-cdn-cf1.myportfolio.com/122f938308bea28bfd4d351b48c5df72/98e9c642-0beb-4185-a8ef-199541a0e191_rw_1920.jpg?h=c42bbb87a6a2f043e949fce09bb1a42d');
    color: white;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

}

#headerPopup {
    width: 75%;
    margin: 0 auto;
}

#headerPopup iframe {
    width: 100%;
    margin: 0 auto;
}

btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

.btn-circle i {
    position: relative;
    top: -1px;
}

.btn-circle-lg {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 1.1rem;
}

.card {
    height: 500px;


}

.card .card-img-overlay {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.71)), url('https://pro2-bar-s3-cdn-cf.myportfolio.com/122f938308bea28bfd4d351b48c5df72/13f49d2f-7dde-45a0-9f80-a57241d4856e_rw_1920.jpg?h=bcb1a4a995bc1fcd7fe0e993263e7ab5');
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;

}

.section-2 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}